{% extends 'blog/base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">

<div class="container content-section px-0 py-0">
    
    <div class="bg-gray py-1 px-3">
        <p class="h5 mb-0 py-2">  
            <span class="img-cont2">              
                <img src="{{friend_name.profile.image.url}}" alt="user" width="50" height="50" class="rounded-circle">
                {% if friend_name.profile.is_online %}
                    <span class="online-circle3"></span>  
                {% else %}
                    <span class="offline-circle3"></span>
                {% endif %}
            </span>
            &nbsp;&nbsp;{{friend_name}}
        </p>
        <hr>
    </div>


    <!-- Chat Box-->
    <div id="chat-section" class="px-0">
        <div id="chat-box" class="chat-text-add py-5 px-4 chat-box bg-white">
            <!-- LOS CHATS ANTIGUOS SE OBTENGAN DE LA BASE DE DATOS Y LOS NUEVOS SE AGREGAN A CONTINUACIÓN -->
            {% for chat in old_chats %}
                {% if chat.author != request.user %}
                <!-- Mensaje del remitente -->
                <div class="media w-75 mb-3">
                <img src="{{chat.author.profile.image.url}}" alt="user" width="40" height="40" class="rounded-circle">
                <div class="media-body ml-3">
                    <div class="bg-light rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-muted">{{chat.text}}</p>
                    </div>
                    <p class="small text-muted">{{chat.date}}</p>
                </div>
                </div>
                
                {% else %}

                <!-- Mensaje del receptor -->
                <div class="media w-75 ml-auto mb-3">
                <div class="media-body">
                    <div class="bg-primary rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-white">{{chat.text}}</p>
                    </div>
                    <p class="small text-muted">{{chat.date}}</p>
                </div>
                </div>
                
                {% endif %}

            {% endfor %}
        </div>
    </div>
    <br>


    <div class="px-0">
        <!-- Área de escritura -->
        <form class="bg-light chat-form">
          <div class="input-group">
            <input id="input" name="body" type="text" placeholder="Escribe tu mensaje aqui" aria-describedby="submit" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button id="submit" type="button" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
    </div>

</div>

</div>

<br>

{% endblock %}

{% block script %}

    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    {{ request.user.profile.image.url|json_script:"user_image"}}
    <script>
        // Configura evento para enviar mensaje al presionar Enter en el campo de entrada
        document.querySelector('#input').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.querySelector('#submit').click();
            }
        });

        // Asigna valores de usuario y variables a partir de los datos de Django
        let my_name = '{{ my_name }}';
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const user_image = JSON.parse(document.getElementById('user_image').textContent);

        // Evento de envío de mensaje al hacer clic en el botón "Enviar"
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            
            // Validación: asegura que el mensaje no esté vacío
            if(message.trim().length != 0) {
                chatSocket.send(JSON.stringify({
                    'message': message,           // Mensaje enviado por el usuario
                    'username': user_username,     // Nombre de usuario que envía el mensaje
                    'user_image': user_image,      // Imagen de usuario del remitente
                }));
                messageInputDom.value = '';        // Limpia el campo de entrada
                messageInputDom.focus();           // Enfoca el campo de entrada
            }
            else {
                alert("El mensaje no puede quedar en blanco");  // Alerta si el mensaje está vacío
                messageInputDom.focus();
            }
        };

        // Obtiene el nombre de la sala de chat de los datos de Django
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // Configura el WebSocket para conectarse a la sala de chat
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        // Evento para recibir mensajes del WebSocket
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            
            // Distingue entre mensajes enviados y recibidos para aplicar el formato adecuado
            if (data.username != my_name)
                add_sender_chat(data);  // Mensaje recibido de otro usuario
            else
                add_receiver_chat(data); // Mensaje enviado por el usuario actual
        }

        // Función para mostrar el mensaje del remitente en el chat
        function add_sender_chat(data) {
            var chat_window = document.querySelector('.chat-text-add');
            var message = document.createElement('div');
            message.classList.add('media', 'w-75', 'mb-3');  // Estilos de clase para el mensaje
            chat_window.appendChild(message);

            var image = document.createElement('img');
            image.src = String(data.user_image);
            image.classList.add('rounded-circle');  // Imagen del remitente
            image.width = 40;
            image.height = 40;
            image.alt = data.username;
            message.appendChild(image);

            var text_div = document.createElement('div');
            text_div.classList.add('media-body', 'ml-3');  // Contenedor de texto del mensaje
            message.appendChild(text_div);

            var text_div_div = document.createElement('div');
            text_div_div.classList.add('bg-light', 'rounded', 'py-2', 'px-3', 'mb-2');  // Estilos de fondo para el mensaje
            text_div.appendChild(text_div_div);

            var text_div_div_p = document.createElement('p');
            text_div_div_p.classList.add('text-small', 'mb-0', 'text-muted');  // Estilos de texto para el mensaje
            text_div_div_p.innerHTML = data.message;
            text_div_div.appendChild(text_div_div_p);

            var text_div_date = document.createElement('p');
            text_div_date.classList.add('small', 'text-muted');  // Fecha y hora del mensaje
            text_div_date.innerHTML = new Date().toLocaleString();
            text_div.appendChild(text_div_date);
        }

        // Función para mostrar el mensaje del usuario actual en el chat
        function add_receiver_chat(data) {
            var chat_window = document.querySelector('.chat-text-add');

            var message = document.createElement('div');
            message.classList.add('media', 'w-75', 'ml-auto', 'mb-3');  // Estilos de clase para el mensaje del usuario actual
            chat_window.appendChild(message);

            var text_div = document.createElement('div');
            text_div.classList.add('media-body');  // Contenedor de texto del mensaje
            message.appendChild(text_div);

            var text_div_div = document.createElement('div');
            text_div_div.classList.add('bg-primary', 'rounded', 'py-2', 'px-3', 'mb-2');  // Estilos de fondo para el mensaje del usuario
            text_div.appendChild(text_div_div);

            var text_div_div_p = document.createElement('p');
            text_div_div_p.classList.add('text-small', 'mb-0', 'text-white');  // Estilos de texto para el mensaje del usuario
            text_div_div_p.innerHTML = data.message;
            text_div_div.appendChild(text_div_div_p);

            var text_div_date = document.createElement('p');
            text_div_date.classList.add('small', 'text-muted');  // Fecha y hora del mensaje
            text_div_date.innerHTML = new Date().toLocaleString();
            text_div.appendChild(text_div_date);
        }

    </script>

{% endblock %}