{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>Acerca de la página</h1>
        <br>
        <p>Aplicación de red social Django, en el cual se pueden realizar las operaciones básicas, como: crear, editar, eliminar y ver posts. Enviar Solicitud de amistad, mensajes, VideoChat y seguimiento a un usuario.</p>
        <br>
        <p>Made with &#128150; by Nosotros :3 &#9996;</p>
    </div>
</div>


{% endblock %}