{% extends "blog/base.html" %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Borrar publicación</legend>
            <h2>¿Estás seguro de que deseas eliminar la publicación? "{{object.title}} ?"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Si, borrar</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}