<script type="text/javascript">
	
	function sendFriendRequest(id, uiUpdateFunction){
		// Crea el objeto de datos que se enviará en la solicitud AJAX, incluyendo el token CSRF y el ID del usuario receptor.
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",  // Token CSRF para proteger contra ataques CSRF.
			"receiver_user_id": id,  // ID del usuario al que se enviará la solicitud de amistad.
		}
		
		// Inicia la solicitud AJAX para enviar la solicitud de amistad.
		$.ajax({
			type: 'POST',  // Método de la solicitud.
			dataType: "json",  // Tipo de datos que se espera en la respuesta.
			url: "{% url 'friend:friend-request' %}",  // URL para enviar la solicitud de amistad.
			timeout: 5000,  // Tiempo de espera para la solicitud en milisegundos.
			data: payload,  // Datos que se envían en la solicitud.
			
			// Función que se ejecuta si la solicitud es exitosa.
			success: function(data) {
				console.log("SUCCESS", data)  // Muestra el resultado en la consola.
				
				// Verifica si la respuesta indica que la solicitud de amistad fue enviada con éxito.
				if(data['response'] == "Solicitud de amistad enviada."){
					// Aquí se actualiza la interfaz de usuario.
				}
				else if(data['response'] != null){
					// Muestra un mensaje de alerta con la respuesta del servidor.
					alert(data['response'])
				}
			},
			
			// Función que se ejecuta si ocurre un error en la solicitud.
			error: function(data) {
				console.error("ERROR...", data)  // Muestra el error en la consola.
				alert("Algo salió mal.")  // Informa al usuario que hubo un error.
			},
			
			// Función que se ejecuta al finalizar la solicitud, sin importar si fue exitosa o fallida.
			complete: function(data){
				uiUpdateFunction()  // Llama a la función para actualizar la interfaz de usuario.
			}
		});
	}
</script>